<html>
    <head>
        <title>Nutrition checker</title>
        <style>
            body{
                background-image: url("https://c8.alamy.com/comp/DH5YYA/nutrition-facts-text-in-magnifying-glass-DH5YYA.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1000px 1000px;
            }
            .exam{
            
                padding-top: 50px;
                width: 200px;
                padding:190px;
                position: center;
                background-color: white;
                
            }
        </style>
    </head>
    <body style="background-color:white; text-align: center;">
        
        <div class="exam">
            <h3 style="font-size: 50px;">The product has</h2>
            <h4><p><b>Calories :<%= user[0] %></b></p>
            <p><b>Sugars:<%= user[1] %></b></p>
            <p><b>Carbohydrates:<%= user[2] %></b></p>
            <p><b>Proteins:<%= user[3] %></b></p></h4>
        </div>
        
    </body>
</html>